@import '@/styles/common/variables.scss';

.LanguageSelector {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &.main {
            min-height: 55vh;
            margin-bottom: 50px;
        }

        &.lang {
            position: absolute;
            right: 10px;
            top: 25px;
            z-index: 10;

            @media (min-width: 425px) {
                top: 38px;
            }

            li {
                position: relative;
                margin-bottom: 8px;

                @media (min-width: 425px) {
                    display: inline-block;
                    right: 0;
                    margin-right: 30px;
                    margin-bottom: 0;
                }

                &.active:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $colorTurquoise;
                    top: 13px;

                    @media (min-width: 425px) {
                        height: 4px;
                        top: 17px;
                    }
                }

                &:last-of-type {
                    @media (min-width: 425px) {
                        margin-right: 0;
                    }
                }

                a {
                    display: block;
                    user-select: none;
                    font: 10px $fontSubHeading;
                    text-transform: uppercase;
                    cursor: pointer;
                    text-decoration: none;

                    @media (min-width: 425px) {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
