.Link {
    display: block;
}

.BackButton {
    z-index: 10;
    height: 50px;
    width: 50px;
    margin-top: -2px;

    @media (min-width: 768px) {
        height: 64px;
        width: 64px;
        margin-top: -10px;
    }
}
