.ArtistContainerPage {
    h1 {
        text-transform: none;
        margin: 0 2.5rem 0 2.5rem;
        padding: 0.3em 0;

        @media (min-width: 425px) {
            margin-right: 8.75rem;
        }
    }

    h3 {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        background: rgba(236, 64, 122, 0.24);
        padding: 0.3125rem 0 0.4375rem;
        margin: 0;
    }
}
